---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Header from "../components/Header.astro";
import SeenOn from "../components/SeenOn.astro";
import Features from "../components/Features.astro";
import Testimony from "../components/Testimony.astro";
import Showcase from "../components/Showcase.astro";
import Faq from "../components/Faq.astro";
import Footer from "../components/Footer.astro";
import PriceTable from "../components/PriceTable.astro";
---

<Layout title="FlagPole - Feature flags without the fuss!">
  <main>
    <Header />
    <Hero />
    <SeenOn />
    <PriceTable />
    <Features />
    <PriceTable />
    <Testimony />
    <!-- <Showcase /> -->
    <Faq />
    <PriceTable />
    <Footer />
  </main>
</Layout>
